﻿@model Users.Models.Usurios



<div class="alert alert-warning" role="alert">
  Nuevo Contacto !
</div>

<form action="@Url.Action("Edit" , "Home")" method="post" >

    <div class="form-group">
    <input name="idUser" type="text" class="form-control" value="@Html.DisplayTextFor(m => m.idUser)">
   </div>
  

  <div class="form-group">
    <label>Nombre</label>
    <input name="nombre" type="text" class="form-control" value="@Html.DisplayTextFor(m => m.nombre)">
  </div>
  
  <div class="form-group">
    <label>Apellido</label>
    <input name="apellido" type="text" class="form-control"value="@Html.DisplayTextFor(m => m.apellido)">
  </div>
     
  <div class="form-group">
    <label>año</label>
    <input name="ano" type="text" class="form-control" value="@Html.DisplayTextFor(m => m.ano)">
  </div>
  
  <div class="form-group">
    <label>Telefono</label>
    <input name="telefono" type="text" class="form-control" value="@Html.DisplayTextFor(m => m.telefono)">
  </div>
  
  <br> 
  
  <button type="submit" class="btn btn-primary">Enviar</button>
  <a type="button" class="btn btn-success" href="@Url.Action("Index" , "Home")">Volver</a>

  
  
</form>

